body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

.hero-section {
    background-color: #0077CC;
    color: white;
    text-align: center;
    padding: 20px 20px;
}

.hero-section h1 {
    font-size: 2.5em;
    margin: 0;
}

.hero-section p {
    font-size: 1.2em;
    margin-top: 10px;
}

.content-section {
    text-align: center;
    padding: 20px;
}

.input-form {
    margin: 20px 0;
}

.input-form input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #0077CC;
    border-radius: 4px;
    margin-right: 10px;
}

.input-form button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #0077CC;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-form button:hover {
    background-color: #005fa3;
}

.results-section {
    margin-top: 20px;
    text-align: left;
    border-top: 2px solid #0077CC;
    padding-top: 20px;
}

.results-section p {
    margin: 5px 0;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content i {
    margin: 0 10px;
}

.results-section {
    margin-top: 20px;
    text-align: left;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.results-section > p:first-child {
    font-weight: bold;
    color: #0077CC;
    margin-bottom: 15px;
    align-self: stretch;
    text-align: left;
    font-size: 1rem;
    width: 100%; /* Ensures full width */
}

.result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    width: 100%; /* Ensures each result item stretches full width of results container */
}

.result-item:nth-child(odd) {
    background-color: #f9f9f9; /* Light gray shade for alternating rows */
}

.result-amount {
    font-weight: bold;
    color: #0077CC;
    margin-right: 15px; /* Ensures some space between amount and company name */
}

.result-name {
    flex-grow: 1; /* Allows the company name to fill the space */
    text-align: left; /* Align the text to the left */
}
